######################################################################
#
#  Optimized rtorrent.rc
#
######################################################################

#################################################
## General settings                            ##
#################################################

encoding.add = UTF-8
pieces.hash.on_completion.set = no
pieces.memory.max.set = TMPLRAM

#################################################
## File handling                               ##
#################################################

# location where new torrent data is placed, and where you should place your
# 'complete' data before you place your *.torrent file into the watch folder
directory.default.set = ~/files/incomplete

# setting the download folders for different trackers
schedule = watch_directory_open,5,5,"load.start=~/watch/open/*.torrent,d.set_directory=~/files/open"
schedule = watch_directory_an,5,5,"load.start=~/watch/audionews.org/*.torrent,d.set_directory=~/files/audionews.org"
schedule = watch_directory_ahd_m,5,5,"load.start=~/watch/awesome-hd.net-movies/*.torrent,d.set_directory=~/files/awesome-hd.net-movies"
schedule = watch_directory_ahd_s,5,5,"load.start=~/watch/awesome-hd.net-series/*.torrent,d.set_directory=~/files/awesome-hd.net-series"
schedule = watch_directory_btn,5,5,"load.start=~/watch/broadcasthe.net/*.torrent,d.set_directory=~/files/broadcasthe.net"
schedule = watch_directory_what,5,5,"load.start=~/watch/what.cd/*.torrent,d.set_directory=~/files/what.cd"
schedule = watch_directory_bs,5,5,"load.start=~/watch/brokenstones.me/*.torrent,d.set_directory=~/files/brokenstones.me"
schedule = watch_directory_ptp,5,5,"load.start=~/watch/passthepopcorn.me/*.torrent,d.set_directory=~/files/passthepopcorn.me"

# If there's less than 5GB of disk space, it will stop torrents from
# downloading.
schedule = low_diskspace,5,60,close_low_diskspace=200M

# This chmods the downloaded files to 750.  This will allow them to be deleted
# by w/ruTorrent, while not allowing any other users to touch them.
system.umask.set = 027

#################################################
## Connection settings                         ##
#################################################

# set whether the client should try to connect to UDP trackers
trackers.use_udp.set = yes

# Upload/download rate in KB/s. 0 for unlimited
throttle.global_down.max_rate.set_kb = 0
throttle.global_up.max_rate.set_kb = 0

# Maximum and minimum number of peers to connect to per torrent.
min_peers = 1
max_peers = 1024

# Same as above but for seeding completed torrents (-1 = same as downloading)
min_peers_seed = 1
max_peers_seed = 1024

# Maximum number of simultanious uploads per torrent.
max_uploads = 128

# Example of stop on ratio: Stops if ratio's 2.00 with at least 200MB up,
# otherwise stop at a ratio of 20.00
#schedule = ratio,60,60,"stop_on_ratio=200,200M,2000"

# port range to use for listening
network.port_range.set = 61000-61100

# start opening ports at a random position within the port range
network.port_random.set = yes

# encryption options, set to none (default) or any combination of the following:
# allow_incoming, try_outgoing,require,require_RC4,enable_retry,pref er_plaintext
protocol.encryption.set = allow_incoming,enable_retry,try_outgoing

#################################################
## ruTorrent settings                          ##
#################################################

# XMLRPC Size Limit
# This should allow ~3200 torrents in ruTorrent.  Any higher and I'd be surprised
# if ruTorrent could handle it.
set_xmlrpc_size_limit = 2097152

# ruTorrent plugins
execute = {sh,-c,/usr/bin/php /var/www/html/php/initplugins.php &}

# Port to connect
scgi_port = 127.0.0.1:5000

#################################################
## Tracker settings                            ##
#################################################

# enable peer exchange (for torrents not marked private)
# protocol.pex.set = no
protocol.pex.set = no

# enable DHT support for trackerless torrents or when all trackers are down
# may be set to "disable" (completely disable DHT), "off" (do not start DHT),
# "auto" (start and stop DHT as needed), or "on" (start DHT immediately)
# the default is "off". for DHT to work, a session directory must be defined
dht.mode.set = off

# enable peer exchange (for torrents not marked private)
protocol.pex.set = no

#########################################
## Session settings                    ##
#########################################

## Periodically save session data
schedule = session_save,300,300,session_save=
session.path.set = ~/.rtorrent/session
